body{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: rgba(55, 65, 81, 1);
    border: 1px solid white;

}
.hero{
    color: white;
background: #6943FF;
padding: 30px;
}
.main{
    padding: 30px;
    background: white;
    color: rgba(55, 65, 81, 1);
}
.mass{
    border : 1px solid white;
}
#btn{
    margin-top: 10px;
    color: rgba(55, 65, 81, 1);
    background: white;
    padding: 5px;
    width: 117px;

}
#inputt{
    background: white;
    padding: 5px;
    width: 117px;
    display: flex;
    flex-direction: column;
}
